
body{
    background-color: #ffddd2;
}

div#reloj{
    font-family: sans-serif;
    font-size: 60px;
    text-shadow: 0px 0px 1px #333;
    color: #fff;
}

div.relojContenedor{
    background-color: rgb(12, 119, 206);
    padding: 25px;
    max-width: 350px;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 10%;
}

div#fecha{
    /*letter-spacing: 10px;*/
    font-size: 10px;
}

.animar{
    border: rgb(0, 0, 0) 2px solid;
}